@charset "utf-8";
/* CSS Document */
.background-mask {
	background-color: #000000;
	opacity: 0.8;
	text-align:center;
    margin-bottom: 5px;
    padding: 5px;
}

/* Reponses */
.adc-statements .responseItem 
{   
    /* Element */
	display:block;
	margin:0 0 0.3em 0;
    vertical-align:middle;
	cursor:pointer;
	
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	
	position:relative;
}

.adc-statements .response_text 
{ 
	display:block;
	padding:10px;
	line-height:1.2;
}
.adc-statements .responseItem img 
{
	display:inline-block; 
	margin:5px 20px 5px 5px;
	float:right;
}

.adc-statements .responseItem.selected .response_text 
{
    
}

.adc-statements .otherText { 
	display:block;
	margin:10px;
	line-height:1.2;
	padding:5px;
	
	/* disable highlight text */
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
	-webkit-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}